@import 'bootstrap/scss/bootstrap';
@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'FiraGO-400', sans-serif;
}

//Font
@font-face {
  font-family: FiraGO-100;
  src: url(assets/fonts/firago-latin-100-normal.ttf);
}
@font-face {
  font-family: FiraGO-200;
  src: url(assets/fonts/firago-latin-200-normal.ttf);
}
@font-face {
  font-family: FiraGO-300;
  src: url(assets/fonts/firago-latin-300-normal.ttf);
}
@font-face {
  font-family: FiraGO-400;
  src: url(assets/fonts/firago-latin-400-normal.ttf);
}
@font-face {
  font-family: FiraGO-500;
  src: url(assets/fonts/firago-latin-500-normal.ttf);
}
@font-face {
  font-family: FiraGO-600;
  src: url(assets/fonts/firago-latin-600-normal.ttf);
}
@font-face {
  font-family: FiraGO-700;
  src: url(assets/fonts/firago-latin-700-normal.ttf);
}
@font-face {
  font-family: FiraGO-800;
  src: url(assets/fonts/firago-latin-800-normal.ttf);
}
@font-face {
  font-family: FiraGO-900;
  src: url(assets/fonts/firago-latin-900-normal.ttf);
}

.firago-100 {
  font-family: 'FiraGO-100', sans-serif;
}
.firago-200 {
  font-family: 'FiraGO-200', sans-serif;
}
.firago-300 {
  font-family: 'FiraGO-300', sans-serif;
}
.firago-400 {
  font-family: 'FiraGO-400', sans-serif;
}
.firago-500 {
  font-family: 'FiraGO-500', sans-serif;
}
.firago-600 {
  font-family: 'FiraGO-600', sans-serif;
}
.firago-700 {
  font-family: 'FiraGO-700', sans-serif;
}
.firago-800 {
  font-family: 'FiraGO-800', sans-serif;
}
.firago-900 {
  font-family: 'FiraGO-900', sans-serif;
}

.secondary-button {
  padding: 10px 16px;
  border-radius: 10px;
  transition: 0.3s;
  border: 1px solid $primary-red;
  color: $primary-red;
  background-color: transparent;
  &:hover {
    background-color: $primary-red;
    color: white;
  }
  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.7;

  }
}
.primary-button {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  background-color: $primary-red;
  color: white;
  &:hover {
    background-color: $btn-hover;
  }
  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.7;
    &:hover {
      background-color: $primary-red;
    }
  }
}
input, textarea {
  &.invalid {
    border: 1px solid $primary-red !important;
    &:focus {
      box-shadow: 0 0 0 1px $primary-red;
      outline: none;
      border: none;
    }
  }

}
