@import "../../../../../../variables";

.wrapper {
  padding: 62px 162px;
  display: flex;
  flex-direction: column;
  >svg {
    margin-bottom: 30px;
    cursor: pointer;
  }
  >.estate-information {
    display: flex;
    gap: 68px;
    >.estate-image{
      border-radius: 10px;
      overflow: hidden;
      width: 839px;
      height: 714px;
      position: relative;
      >div:first-of-type {
        position: absolute;
        top: 41px;
        left: 41px;
        width: 142px;
        height: 41px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($primary-black, 0.5);
        >p {
          color: white;
          font-size: 20px;
          margin: 0;
          opacity: 1;
        }
      }
      >img {
        width: 100%;
        height: 670px;
        object-fit: cover;
      }
      >p {
        text-align: right;
        margin-top: 14px;
        margin-bottom: 0;
        font-size: 16px;
        color: $primary-gray;
      }
    }
    >.estate-description {
      >h5 {
        font-size: 48px;
        color: $primary-black;
        margin-bottom: 24px;
      }
      >.icons {
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: $primary-gray;
        font-size: 24px;
        margin-bottom: 40px;
      }
      >p {
        width: 503px;
        font-size: 16px;
        color: $primary-gray;
        margin-bottom: 50px;
        line-height: 26px;
      }
      >.agent-information {
        width: 503px;
        height: 174px;
        border: 1px solid $border-color;
        border-radius: 8px;
        padding: 24px 20px;
        margin-bottom: 20px;
        >.agent-image {
          display: flex;
          margin-bottom: 16px;
          >img {
            width: 72px;
            height: 72px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 15px;
          }
          >div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h6 {
              font-size: 16px;
              color: $primary-black;
            }
            p {
              margin: 0;
              color: #676E76;
              font-size: 14px;
            }
          }
        }
        >div:last-of-type {
          display: flex;
          flex-direction: column;
          >p {
            margin: 0;
            color: $primary-gray;
            font-size: 14px;
            >span {
              margin-right : 5px;
            }
          }
        }
      }
      >button {
        border: 1px solid #676E76;
        color: #676E76;
        background-color: transparent;
        padding: 10px;
        border-radius: 8px;
        transition: .3s;
        &:hover {
          background-color: #676E76;
          color: white;
        }
      }
    }
  }
}
.modal-header {
  border-bottom: none;
  padding: 0;
  >svg {
    margin-left: auto;
    cursor: pointer;
  }
}
.modal-body {
  border-bottom: none;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  >p {
    font-size: 20px;
    color: $primary-black;
    margin-bottom: 0;
  }
}
.modal-footer {
  border-top: none;
  display: flex;
  justify-content: center;
  gap: 31px;
  margin-bottom: 58px;
  padding-top: 35px;
  padding-bottom: 0;
  >button {
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    margin: 0;
    &:first-of-type {
      border: 1px solid $primary-red;
      color: $primary-red;
      background-color: transparent;
      &:hover {
        background-color: $primary-red;
        color: white;
      }
    }
    &:last-of-type {
      background-color: $primary-red;
      color: white;
      &:hover {
        background-color: $btn-hover;
      }
    }
    &.is-disabled {
      cursor: not-allowed;
    }
  }
}

.similar-location {
  font-size: 32px;
  color: $primary-black;
  margin-bottom: 52px;
  margin-left: 162px;
}
.no-estates{
  margin-left: 162px;
  margin-bottom: 52px;
}
.carousel {
  position: relative;
  width: 1596px;
  margin: 0 auto 228px auto;
  &__scroller {
    display: grid;
    grid-auto-flow: column;
    overflow-x: hidden;
    grid-auto-columns: 100%;
    width: 1596px;
    max-width: 100vw;
  }

  &__group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(100% / 4);
    height: 455px;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid $border-color;
    &:not(&:first-of-type) {
      margin-left: 20px;
    }
    >.estate-card {
      position: relative;
      cursor: pointer;
      >.estate-image {
        >div:first-of-type{
            position: absolute;
            top: 23px;
            left: 23px;
            width: 90px;
            height: 26px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($primary-black, 0.5);
            >p {
              color: white;
              font-size: 12px;
              margin: 0;
              opacity: 1;
            }
        }
        img{
          width: 100%;
          height: 307px;
          object-fit: cover;
        }
      }
      >.estate-description{
        padding: 22px 25px;
        >h5 {
          color: $primary-black;
          font-size: 28px;
        }
        >p {
          margin-bottom: 20px;
          font-size: 16px;
          color: $primary-black;
          opacity: .7;
        }
        >div:last-of-type {
          display: flex;
          font-size: 16px;
          color: $primary-black;
          opacity: .7;
          gap: 32px;
        }
      }
    }

  }

  &__btn-container {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;

    &--next {
      top: 0;
      bottom: 0;
      right: -70px;
    }

    &--previous {
      left: -70px;
      top: 0;
      bottom: 0;
    }
  }

  &__btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;

    &:hover {
      opacity: 0.8;
    }



    &:disabled,
    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
